{{>html-header}}
	<header class="header-main">
		<div class="wrapper">
			<a href="index.html" class="logo">
				<img src="img/logo.png" alt="KennstDuEinen?">
			</a>
			<form action="">
				<input type="text" placeholder="Was?" class="what">
				<input type="text" placeholder="Wo?" class="where">
				<button type="submit">Finden</button>
			</form>
			<a href="#" class="login">Login</a>
		</div>
	</header>
	{{>body}}
	<footer class="footer-main">
		<div class="wrapper">
			<nav>
				<ul>
					<li><a href="">Impressum</a></li>
					<li><a href="">Datenschutz</a></li>
					<li><a href="">FAQ</a></li>
				</ul>
			</nav>
		</div>
	</footer>
{{>html-footer}}