.page-provider {
	header {
		@include clearfix;
		margin: 0 0 50px;
		.title {
			@include breakpoint(tablet) {
				float: left;
				margin: 20px;
			}
			h2 {
				line-height: 1.2em;
  				font-size: 36px;
  				margin: 0;
			}
			.venue {
				color: #888;
			}
		}
	}
	.gmap {
		padding: 10px;
		@include breakpoint(tablet) {
			padding: 0;
		}
	}
	.profile-pic {
		width: 100%;
		height: auto;
		position: relative;
		border-radius: 3px;
		@include breakpoint(tablet) {
			float: left;
			max-width: 250px;
			margin-top: -125px;
			border: 5px solid #fff;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
		}
	}
}

.ratings {
	@include clearfix;
	.best-ratings {
		@include breakpoint(tablet) {
			@include span(8);
		}
	}
	.newest-ratings {
		@include breakpoint(tablet) {
			@include span(4 last);
		}
	}
	.rating {
		padding: 25px 0;
		border-bottom: 1px solid #eee;
		&:last-child {
			border-bottom: 0 none;
		}
	}
}