---
title: "Home"
---

<div class="page-provider">
	
	<iframe class="gmap" width="100%" height="500" src="http://maps.google.de/maps?hl=de&q=Sonnenallee 5+(Bäckerei Süss)&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

	<div class="wrapper">
		
		<header>
			<img src="img/348s.jpg" alt="" class="profile-pic">
			<span class="title">
				<address>
					<div itemscope itemtype="http://schema.org/PostalAddress">
						<h2>Bäckerei Süss</h2>
						<span itemprop="streetAddress">
							Sonnenallee 5
						</span>
						<span itemprop="postalCode">12047</span>
						<span itemprop="addressLocality">Berlin</span>
					</div>
					Tel.: <span itemprop="telephone"><a href="tel:+493061288483"></a>+49 30 61288483</span>
				</address>
			</span>	
		</header>

		<div class="ratings">

			<div class="best-ratings">

				<h3>Die hilfreichsten Bewertungen</h3>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>	
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_3" title="3 von 5 Sternen">
						<span>3 von 5 Sternen</span>
					</span>	
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>	
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_3" title="3 von 5 Sternen">
						<span>3 von 5 Sternen</span>
					</span>	
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>	
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_3" title="3 von 5 Sternen">
						<span>3 von 5 Sternen</span>
					</span>	
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>	
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_3" title="3 von 5 Sternen">
						<span>3 von 5 Sternen</span>
					</span>	
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>




				

			</div> <!-- .best ratings -->

			<div class="newest-ratings">

				<h3>Die neusten Bewertungen</h3>

				<div class="rating">
					<span class="star star_5" title="5 von 5 Sternen">
						<span>5 von 5 Sternen</span>
					</span>	
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_5" title="5 von 5 Sternen">
						<span>5 von 5 Sternen</span>
					</span>		
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_5" title="5 von 5 Sternen">
						<span>5 von 5 Sternen</span>
					</span>		
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>	
					<b>Bäckerei Süss</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">K. E.</a>, <span class="venue">Halle</span>
					<p>Toller Bäcker mit großer Auswahl und sehr vielen Leckereien zum probieren. Der Laden ist immer voll und ist aus meiner Sicht einer der besten Plätze zum Frühstücken, an dem ich bis dato sein durfte. War hier mit Freunden in Berlin und bin immer noch begeistert. Das Frühstück war ein Gedicht, dazu war das Personal sehr hilfsbereit und das Ambiente angenehm. Bei meinem nächsten Besuch in Berlin komme ich wieder. Nur zu empfehlen.</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				<div class="rating">
					<span class="star star_4_5" title="4.5 von 5 Sternen">
						<span>4.5 von 5 Sternen</span>
					</span>
					<b>man freut sich aufs Frühstück</b>
					<span class="date">18.Dezember 2013</span>
					<br>
					Von: <a href="" class="user">Magic Manni</a>, <span class="venue">Berlin</span>
					<p>noch besser als die tollen Brötchen und Backwaren ist die super Bedienung! man fühlt sich in diesem Laden einfach wohl, obwohl es immer brechend voll ist. Weiter so!</p>
					<a href="#" class="report-abuse">Fragwürdigen Inhalt melden</a>
				</div>

				

			</div>
			
		</div>

	</div>

</div>